---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowToSection from '../components/HowToSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import ExploreSection from '../components/ExploreSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <HowToSection />
    <FeaturesSection />
    <ExploreSection />
    <Footer />
  </main>
</Layout>
